// Sapphire Petal Collection
#sapphire-petal {
	& .tagline {
		margin-top: -1rem;
	}

	.description {
		text-align: center;
	}

	& .buy-link:hover,
	& .buy-link:focus {
		background-color: $secondary-color;
	}
}

.description {
	margin: 1rem 0;
	padding: 0 10%;
	text-align: justify;
}

.buy-link {
	border: 3px double $secondary-color;
	width: 11rem;
	margin: 1rem auto;
	padding: 0.5rem 0;
	font-weight: 600;
	text-transform: uppercase;

	@include respond-to-width(700px) {
		width: 25vw;
		padding: 2vw 0;
		font-size: 2.5vw;
	}

	@include respond-to-width(1024px) {
		width: 17vw;
		padding: 1vw 0;
		font-size: 1.5vw;
	}

	&:hover,
	&:focus {
		color: $quinary-color;
		transition: all 400ms;
	}
}

// Green Dream Collection
#green-dream {
	& h2 {
		margin-top: -18%;
	}

	& .tagline {
		margin-top: 1rem;
	}

	& .buy-link {
		border-color: $tertiary-color;
	}

	& .buy-link:hover,
	& .buy-link:focus {
		background-color: $tertiary-color;
	}
}

.flower-ornament {
	width: 5rem;
	height: auto;
	margin: -2rem 0 -12rem auto;
}

.container {
	@include respond-to-width(700px) {
		@include flex-layout(row, nowrap);

		& img {
			max-width: 50%;
		}
	}
}

.wrapper {
	& .description {
		@include respond-to-width(700px) {
			padding: 0 15%;
		}
	}

	@include respond-to-width(700px) {
		@include flex-column-center;
		margin-top: 2rem;
	}
}

// Red Passion Rubies Ring
#red-passion {
	margin-top: 2rem;

	& h2 {
		margin-top: 1rem;
	}

	& .buy-link {
		border-color: $quaternary-color;
	}

	& .buy-link:hover,
	& .buy-link:focus {
		background-color: $quaternary-color;
	}

	& .container img {
		@include respond-to-width(700px) {
			order: 2;
		}
	}
}

// Craftsmanship
#craftsmanship {
	& h2 {
		margin: 1rem 0 1rem 1rem;

		@include respond-to-width(700px) {
			// position & z-index in combo with negative margin for visibility above the play-video img
			position: relative;
			z-index: 1;
			margin: 1rem 0 -2.2vw 1rem;
		}

		@include respond-to-width(1920px) {
			margin: 1rem 0 -2.2vw 4rem;
		}
	}

	& .tagline {
		margin-top: 1rem;

		@include respond-to-width(460px) {
			margin: -11% 45% 5% 0;
		}

		@include respond-to-width(700px) {
			margin: -9% 28% 5% 0;
		}
	}
}
