// Base - global styles
* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	text-align: center;
}

a {
	display: block;
	color: $primary-color;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.hidden-visually {
	@include hidden-visually;
}
