// @font-faces:
@font-face {
	font-family: 'Tarocco';
	src: url('../fonts/TaroccoOSF-OT-W01-Smallcaps.woff') format('woff');
}

@font-face {
	font-family: 'SnellBT-Regular';
	src: url('../fonts/SnellBT-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Montserrat ExtraLight';
	src: url('../fonts/Montserrat-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.woff') format('woff');
}

// All fonts declared:
html {
	font-family: 'SnellBT-Regular';
}

h1 {
	font-family: 'Tarocco';
	font-size: 1.7rem;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 8px;

	@include respond-to-width(700px) {
		font-size: 4vw;
	}
}

h2 {
	// SnellBT-Regular font is a handwritten italic and it leans a bit more to the left. Margin is here to center it.
	margin-left: 1rem;
	font-size: 2.2rem;
	font-weight: normal;
	text-align: center;

	@include respond-to-width(700px) {
		font-size: 6vw;
	}

	@include respond-to-width(1920px) {
		margin-left: 4rem;
	}
}

p {
	position: relative;
	z-index: 1;
	font-family: 'Montserrat ExtraLight';
	font-size: 1rem;

	@include respond-to-width(1400px) {
		font-size: 1.5vw;
	}
}

.tagline {
	margin-left: 1rem;
	font-family: 'SnellBT-Regular';
	font-size: 2.2rem;

	@include respond-to-width(700px) {
		font-size: 6vw;
	}
}

.buy-link {
	font-family: 'Montserrat ExtraLight';
}
